.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 2rem;
  border-bottom: 1px solid var(--border);
}

.header > h1 {
  font-family: var(--mono);
  font-size: 36px;
  margin: 2rem 0;
  text-align: left;
}
