.errorPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
  text-align: center;
  padding: 2rem;
}

.errorPage > h1 {
  font-size: 48px;
  margin-bottom: 2rem;
}

.homeLink {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 4px;
}
